body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://image.freepik.com/fotos-gratis/fundo-de-galaxia-espacial_53876-93121.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat ;
}

.movies{
  color: #ffffff;
  margin: 0 0 30px;
  font-weight: bold;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
  background-color: #000000
}

.title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: bold;
    }


.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 5px;
  
}

.cataligimg {
    margin: 0 10px;
    padding: 10px 0 10px 0;
    width: 182px;
    height: 268px;
    display: inline-block;
    
}
